SECRET_KEY=94777aahvan
SQLALCHEMY_DATABASE_URI=sqlite:///sqlite.db

OPENAI_API_KEY=s
FAST_LLM_MODEL="gpt-4o"

SMART_LLM_MODEL="gpt-4o"

LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=BA_assistant

#Google search
TAVILY_API_KEY=

PYTHONHTTPSVERIFY=0
DEFAULT_LLM_MODEL="gpt-4o"
IS_LLAMA = False

#Azure blobs torage
ACCOUNT_NAME=consolelogstorage
ACCOUNT_KEY=
CONTAINER_NAME=docketai

#Azure lanuguage studio
SPEECH_KEY=
SPEECH_REGION=northeurope
LANGUAGE_KEY=
LANGUAGE_ENDPOINT=
AZURE_OPEN_AI=

#pinecode vectorDB
PINECONE_API_KEY=
PINECONE_ENV_NAME=gcp-starter
PINECONE_INDEX_NAME=docketai

#Atlassian API
ATLASSIAN_API_TOKEN=
JIRA_URL=
EMAIL=


  